/*css файл для electrosamokats_and_cars.html*/
:root {
    --color1: rgba(90, 228, 62, 0.33);
    --color2: rgba(68, 192, 230, 0.1);
    --bg_square_color: rgba(68, 192, 230, 0.1);
}

div.grid#main {
	justify-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
    ". russian_opinion ."
    ". electrosamokat_dangers ."
    ". how_to_solve ."
    ;
}

@media screen and (max-width: 1000px)
{
    div.grid#main {
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-areas: 
        "russian_opinion"
        "electrosamokat_dangers"
        "how_to_solve"
        ;
    }
}

section#russian_opinion {
    grid-area: russian_opinion;
}

section#electrosamokat_dangers {
    grid-area: electrosamokat_dangers;
}

section#how_to_solve {
    grid-area: how_to_solve;
}

.canvas {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

.unit {
    fill: none;
    stroke-width: 10;

    animation-name: render;
    animation-duration: 1.5s;
}

.unit:nth-child(4) {
    stroke: #f80;
    stroke-dasharray: 45 100;
    stroke-dashoffset: -41;
}

.unit:nth-child(3) {
    stroke: #0f0;
    stroke-dasharray: 23 100;
    stroke-dashoffset: -18;
}

.unit:nth-child(2) {
    stroke: #8ff;
    stroke-dasharray: 14 100;
    stroke-dashoffset: -4;
}

.unit:nth-child(5) {
    stroke: #f00;
    stroke-dasharray: 14 100;
    stroke-dashoffset: -86;
}

.unit:nth-child(1) {
    stroke: #00f;
    stroke-dasharray: 4 100;
}

.legend {
    max-width: 250px;
    margin-left: 30px;
}

.title {
    font-family: "Noto-Serif", sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.caption-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.caption-item {
    position: relative;

    margin: 20px 0;
    padding-left: 30px;

    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

.caption-item:hover {
    opacity: 0.8;
}

.caption-item::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    border-radius: 8px;
}

.caption-item:nth-child(4)::before {
    background-color: #f80;
}

.caption-item:nth-child(3)::before {
    background-color: #0f0;
}

.caption-item:nth-child(2)::before {
    background-color: #8ff;
}

.caption-item:nth-child(5)::before {
    background-color: #f00;
}

.caption-item:nth-child(1)::before {
    background-color: #00f;
}

@media screen and (max-width: 767px) {
    .canvas {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px)
{
    .legend {
        margin-left: 0px;
        align-self: self-start;
    }
}

@keyframes render {
    0% {
        stroke-dasharray: 0 100;
    }
}