/*css файл для history.html*/
:root {
    --color1: rgba(240, 32, 64, 0.33);
    --color2: rgba(240, 160, 0, 0.1);
    --bg_square_color: rgba(240, 32, 64, 0.1);
}

div.grid#main {
    grid-template-areas: 
    ". first_samokat ."
    ". samokat_in_20_century samokat_dev_directions"
    ". samokat_types ."
    ;
}

@media screen and (max-width:1000px)
{
    div.grid#main {
        grid-template-areas: 
    "first_samokat"
    "samokat_in_20_century"
    "samokat_dev_directions"
    "samokat_types"
    ;
    }
}

section#first_samokat {
    grid-area: first_samokat;
}

section#samokat_in_20_century {
    grid-area: samokat_in_20_century;
}

aside#samokat_dev_directions {
    grid-area: samokat_dev_directions;
}

section#samokat_types {
    grid-area: samokat_types;
}