div.image_and_text {
    border: none;
    padding:0px;
    margin: 0px 10px;
    margin-left:0px;
    display: inline-block;
    height: auto;
}

div.image_and_text div.image {
    border: none;
    width:25%;
    min-width:300px;
    float: right;
}

div.image_and_text div.text {
    border: none;
    width:100%;
}