/*Файл css для main.html*/
div.more_info {
    width:50%;
    height: auto;

    margin: 10px auto;
    padding: 10px;

    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items:center;
}

div.more_info p {
    border-radius:10px;
    background-color: rgba(0,0,0,0);

    display: inline-block;
    flex-basis: 50%;
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;

    margin:10px;
    padding:10px;
}

/*оформление ссылок в элементах div класса more_info*/
div.more_info a {
    border: 1px solid #000;
    background-color: rgba(231, 136, 136, 0.33);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    
    display: inline-block;
    flex-basis: 30%;
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;

    margin:10px;
    padding: 10px;

    color: #0ff;
}

div.more_info a:hover {
    color: #fff;
}

div.more_info a:visited {
    color: #088;
}