section {
    position:relative;
    padding:20px;
    border-radius: 10px;
    background-color: var(--color1);
    backdrop-filter: blur(10px);
    width: 100%;
    margin: 20px 0px;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: column-reverse;
}

section div.content {
    opacity: 0.999;
    z-index: 1;
}

section div.background {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(-30deg, var(--color1), var(--color2));
    border-radius:10px;
    z-index: 0;
    transition-duration: 0.5s;
}

section > div.content:hover + div.background {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(-30deg, var(--color1), var(--color2));
    border-radius:10px;
    z-index: 0;
    transition-duration: 0.5s;
}

section div.background_square {
    position: absolute;
    animation: bg_square_movement 10s calc(0.2s * var(--i)) infinite forwards;
    background-color: var(--color2);
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 3;
    border-radius: 10px;
    transition-duration: 0.5s;
    transition-delay: calc(var(--i) * 0.1s);
}

section > div.content:hover ~ div.background_square {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: calc(var(--i) * 0.1s);
}

@keyframes bg_square_movement {
    from {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-20px, -40px) scale(0.8);
    }
    40% {
        transform: translate(20px, -40px) scale(1.2);
    }
    60% {
        transform: translate(20px, 40px) scale(0.9);
    }
    80% {
        transform: translate(-20px, 40px) scale(1.1);
    }
    to {
        transform: translate(0, 0);
    }
}